{% extends "base.html" %}

        
{% block content %}
<h1>Деталі обєктів нерухомості</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Адреса</th>
            <th scope="col">Ціна</th>
            <th scope="col">Дата створення</th>
            <th scope="col">Менеджер</th>
            <th scope="col">Власник</th>
            <th scope="col">Площа</th>
            <th scope="col">Кількість кімнат</th>
            <th scope="col">Поверх</th>
            <th scope="col">Кількість поверхів</th>
            <th scope="col">Опис</th>
            <th scope="col">Статус</th>
            <th scope="col">Ціна за місяць</th>
            <th scope="col">Ціна за день</th>
            <th scope="col">Ціна за рік</th>
        </tr>
    </thead>
    <tbody>
        {% for real_estate_details in real_estate_details %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ real_estate_details.real_estate.name }}</td>
            <td>{{ real_estate_details.real_estate.address }}</td>
            <td>{{ real_estate_details.real_estate.price }}</td>
            <td>{{ real_estate_details.real_estate.created_at }}</td>
            <td>{{ real_estate_details.real_estate.manager.name }}</td>
            <td>{{ real_estate_details.real_estate.owner.name }}</td>
            <td>{{ real_estate_details.square }}</td>
            <td>{{ real_estate_details.number_of_rooms }}</td>
            <td>{{ real_estate_details.floor }}</td>
            <td>{{ real_estate_details.number_of_floors }}</td>
            <td>{{ real_estate_details.description }}</td>
            <td>{{ real_estate_details.status }}</td>
            <td>{{ real_estate_details.price_per_month }}</td>
            <td>{{ real_estate_details.price_per_day }}</td>
            <td>{{ real_estate_details.price_per_year }}</td>

        </tr>

        {% endfor %}
    </tbody>
    
{% endblock content %}




