{% extends "base.html" %}



{% block content %}
<h1>Продавці</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Дата створення</th>
        </tr>
    </thead>
    <tbody>
        {% for seller in sellers %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ seller.name }}</td>
            <td>{{ seller.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}




